<swiper overlay-controls [config]="config">
  <es-ad-slider *ngFor="let slide of items"
                [title]="slide.title"
                [image]="slide.image"
                [price]="slide.price"
                [currency]="slide.currency"
  ></es-ad-slider>
</swiper>
