<md-card>
  <md-card-header>
    <h6>{{title}}</h6>
  </md-card-header>
  <md-card-content>
    <div class='img-container'>
      <img class='resize_fit_center' src='{{image}}'/>
    </div>
  </md-card-content>
  <md-card-actions fxLayoutAlign="end end">
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
