.price {
  margin-top: 0;
  line-height: 1;
  font-weight: 700 !important;
  color: #008BFF !important;
  font-size: 1.5rem !important;
}

.currency-text {
  color: #008BFF;
  font-size: 1rem;
  padding-top: 5px;
}


.img-container {
  margin-bottom: 10px;
  width: 230px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  //border: 1px solid grey;
}
.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;

}
