.img-container {
  margin-bottom: 10px;
  width: auto;
  height: 300px;
  line-height: 300px;
  text-align: center;
  //border: 1px solid grey;
}
.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}





.swiper-slide {
  background-size: cover;
  background-position: center;
  //max-width: 250px;
  padding: 10px;
}

.thumb-container {
  height: 80px;
  box-sizing: border-box;
  padding: 10px 0;
}
.thumb-container .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  max-width: 80px;
}
.thumb-container .swiper-slide-active {
  opacity: 1;
}
