<div>
  <md-card>
    <md-card-content>
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutWrap="" >
        <div fxFlex="">


          <!--#region row direction thumbnails-->
          <div  class="swiper-container img-container" overlay-controls [swiper]="config" [(index)]="index">
            <div class="swiper-wrapper">
              <div class="swiper-slide resize_fit_center" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/1)'"></div>
              <div class="swiper-slide resize_fit_center" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/2)'"></div>
              <div class="swiper-slide resize_fit_center" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/3)'"></div>
              <div class="swiper-slide resize_fit_center" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/4)'"></div>
            </div>
          </div>
          <div  class="swiper-container thumb-container" [swiper]="thumbs" [(index)]="index">
            <div class="swiper-wrapper">
              <div class="swiper-slide" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/1)'"></div>
              <div class="swiper-slide" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/2)'"></div>
              <div class="swiper-slide" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/3)'"></div>
              <div class="swiper-slide" [style.background-image]="'url(http://lorempixel.com/1200/1200/nature/4)'"></div>
            </div>
          </div>
          <!--#endregion-->

          <!--#region row direction thumbnails-->
          <!--<div class="img-container">-->
            <!--<img class="resize_fit_center" src='{{items[0].image}}'/>-->
          <!--</div>-->
          <!--<div fxLayout="row" fxLayoutWrap="" fxLayoutAlign="center center">-->
            <!--<div fxLayout="column" *ngFor="let item of items">-->
              <!--<a md-button class="thumb-container mat-elevation-z1">-->
                <!--<img class="resize_fit_center" src='{{item.image}}'/>-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--#endregion-->

          <!--#region column direction thumbnail-->
          <!--<div fxLayout="row" fxLayoutAlign="center center">-->
          <!--<div fxFlex="10%">-->
          <!--<div fxLayout="column" *ngFor="let item of items">-->
          <!--<a md-button class="thumb-container mat-elevation-z1">-->
          <!--<img class="resize_fit_center" src='{{item.image}}'/>-->
          <!--</a>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div fxFlex="90%" class="img-container">-->
          <!--<img class="resize_fit_center" src='{{items[0].image}}'/>-->
          <!--</div>-->
          <!--</div>-->
          <!--#endregion-->

        </div>
        <div fxFlex="" fxFlexAlign="start start">
          <section class="mat-typography">
            <h1>New iPhone 6 64 GB for sale</h1>
          </section>
          <section class="mat-typography">
            <h2>1999
              <small class="mat-h4">AED</small>
            </h2>
          </section>
          <hr/>
          <br/>
          <div fxLayout="row" *ngFor="let ad of profileData">
            <div fxFlex="50"><strong>{{ ad.label }}</strong></div>
            <div fxFlex>{{ ad.value }}</div>
            <br><br>
          </div>
        </div>
      </div>
      <div fxLayoutAlign="end">
        <button class="light-blue-bg-600" md-raised-button>CONTACT SELLER</button>
      </div>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end end">
      <button md-icon-button mdTooltip="Watch Ad">
        <md-icon>visibility</md-icon>
      </button>
      <button md-icon-button mdTooltip="Reply">
        <md-icon>reply</md-icon>
      </button>
      <button md-icon-button mdTooltip="Report">
        <md-icon>flag</md-icon>
      </button>
      <button md-icon-button mdTooltip="Share" [mdMenuTriggerFor]="shareMenu">
        <md-icon>share</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <md-menu x-position="before" #shareMenu="mdMenu">
    <button md-menu-item *ngFor="let item of shareItems">
      <span md-line>{{item.name}}</span>
    </button>
  </md-menu>
</div>


