.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background: url('../../../assets/images/lollipop-bg.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  //-webkit-filter: blur(5px);
  //-moz-filter: blur(5px);
  //-o-filter: blur(5px);
  //-ms-filter: blur(5px);
  //filter: blur(5px);
}

md-card{
  width: 340px;
}
.centered {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
