[md-fab] {
  position: absolute;
  right: 3%;
  top: 85px;
  z-index: 1;
}
md-card{
  padding-top: 0 !important;
  margin-top: 10px;
  //margin-bottom: 10px;
  max-width: 320px;
  //margin: auto;
}

//https://stackoverflow.com/questions/17320587/resize-to-fit-image-in-div-and-center-horizontally-and-vertically
.img-container {
  margin-bottom: 10px;
  width: 230px;
  height: 235px;
  line-height: 235px;
  text-align: center;
  //border: 1px solid grey;
}
.resize_fit_center {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;

}
