<button md-fab routerLink="place-ad" class="light-blue-bg-700" color="warn">
  <md-icon>add</md-icon>
</button>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="left-sidebar" fxFlex="15%"></div>
  <div class="main-content" fxFlex="">

    <div fxLayout="row" fxLayoutWrap="" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlexOffset="10px" *ngFor="let item of items" fxLayoutAlign="center center">

        <md-card>
          <div class='img-container'>
            <img class='resize_fit_center' src='{{item.image}}'/>
          </div>
          <hr/>
          <md-card-content>
            <h6>{{item.status}}</h6>
          </md-card-content>
          <md-card-actions fxLayoutAlign="end end">
            <button md-button routerLink="ad/details/{{item.route}}">DETAILS</button>
          </md-card-actions>
        </md-card>

      </div>
    </div>
  </div>
  <div class="right-sidebar" fxFlex="15%"></div>
</div>
