<main fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="20%"></div>
  <div fxFlex="" class="">
    <md-toolbar class="new-item-header light-blue-bg-600">Categories</md-toolbar>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="20%"></div>
</main>
