<md-toolbar class="light-blue-bg-700">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <button md-icon-button [routerLink]="['/']">
    <md-icon>home</md-icon>
  </button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm #menu>
    <button md-button *ngFor="let item of items" routerLink="/{{ item.route }}">
      {{ item.text | uppercase }}
    </button>
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>

  <md-menu #appMenu="mdMenu">
    <md-nav-list>
      <a md-list-item *ngFor="let listItem of listItems" routerLink="/{{ listItem.route }}">
        <md-icon md-list-icon>{{listItem.icon}}</md-icon>
        <span md-line>{{listItem.name}}</span>
      </a>
    </md-nav-list>
  </md-menu>

  <button md-icon-button>
    <md-icon>search</md-icon>
  </button>

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item *ngFor="let item of items" routerLink="/{{ item.route }}">
    {{ item.text }}
  </button>
</md-menu>
