.demo-tab-group {
  border: 1px solid #e0e0e0;
  .md-tab-header {
    background: #f9f9f9;
  }
  .md-tab-body {
    padding: 12px;
  }
}


.mdl-tabs__panel .mdl-card{
  width: 100%;
}
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}
