<h5>{{message}}</h5>
<div>
  <md-toolbar class="light-blue-bg-600">REGISTER</md-toolbar>
  <md-card>
    <md-card-content>
      <form action="#">
        <md-input-container class="full-width">
          <input mdInput placeholder="Full name">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Username">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Password" type="password">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Email" type="email">
        </md-input-container>
        <div>
          <md-checkbox color="primary">I agree to the Terms of Service and Privacy Policy</md-checkbox>
        </div>
        <br/>
        <p fxLayout="row" fxLayoutAlign="end center">
          <button (click)="login()" md-button class="light-blue-bg-600 mat-elevation-z1">
            REGISTER
          </button>
        </p>
        <p fxLayout="row" fxLayoutAlign="end center">
          <span >Already Registered? &nbsp;</span>
          <button [routerLink]="['/login']" md-button class="mat-elevation-z1">
            LOGIN
          </button>
        </p>
      </form>
    </md-card-content>
  </md-card>
</div>



