.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.demo-card-square > .mdl-card__title {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../../../assets/images/dashboard.png');
  background-repeat: no-repeat;
  background-size: contain;

}
