<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="demo-card-square mdl-card mdl-shadow--4dp full-width">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text"></h2>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>
