<div class="parent-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="" fxLayoutWrap="" fxLayoutGap="15px">
  <div fxFlex="">
  </div>
  <div fxFlex="55%">
    <es-item-essential></es-item-essential>
    <br>
    <es-item-description></es-item-description>
    <br>
    <es-item-contact></es-item-contact>
    <br>
    <div>
      <h3>Related ads</h3>
    </div>
  </div>
  <div fxFlex="">3</div>
</div>
<es-suggest-ads></es-suggest-ads>
<br>

