<md-sidenav-container>
  <md-sidenav #sidenav mode="over">
    <div class="logo grey-bg-50 mat-elevation-z1"></div>
    <div class="menu">
      <md-nav-list>
        <a md-list-item *ngFor="let view of views" routerLink="/{{ view.route }}">
          <md-icon md-list-icon>{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line class="secondary">{{view.description}}</span>
        </a>
      </md-nav-list>
    </div>
  </md-sidenav>
  <es-header [sidenav]="sidenav"></es-header>

  <main class="container grey-light-bg mat-elevation-z4">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
  <es-footer></es-footer>

</md-sidenav-container>
