<md-grid-list cols="3" rowHeight="200px" class="mat-elevation-z2">
  <md-grid-tile *ngFor="let subcategory of subcategories"
                [style.background]="subcategory.tileColor"
                (click)="onSelect(subcategory)">
    <md-grid-tile-header>
      <md-icon md-grid-avatar></md-icon>
      {{subcategory.name}}
    </md-grid-tile-header>
    <md-icon class="md-48">{{subcategory.icon}}</md-icon>
  </md-grid-tile>
</md-grid-list>
<br>
