<h5>{{message}}</h5>
<div>
  <md-toolbar class="light-blue-bg-600">LOG IN</md-toolbar>
  <md-card>
    <md-card-content>
      <form action="#">
        <md-input-container class="full-width">
          <input mdInput placeholder="Username">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Password" type="password">
        </md-input-container>
        <div>
          <md-checkbox color="primary">Remember me</md-checkbox>
        </div>
        <br/>
        <p fxLayout="row" fxLayoutAlign="end center">
          <button (click)="login()" md-button class="light-blue-bg-600 mat-elevation-z1">
            LOG IN
          </button>
        </p>
        <p fxLayout="row" fxLayoutAlign="end center">
          <a [routerLink]="['/reset-password']" class="">
            Forgot password?
          </a>
        </p>
        <p fxLayout="row" fxLayoutAlign="end center">
          <span >Don't have an account? &nbsp;</span>
          <button [routerLink]="['/register']" md-button class="mat-elevation-z1">
            REGISTER
          </button>
        </p>
      </form>
    </md-card-content>
  </md-card>
</div>



