<md-sidenav-container class="mat-elevation-z4">
  <md-sidenav #sidenav mode="side" opened="true" class=" mat-elevation-z2">
    <md-toolbar class="grey-bg-50 mat-elevation-z2">
    </md-toolbar>
    <div class="menu">
      <md-nav-list>
        <a md-list-item *ngFor="let listItem of menuList" routerLink="/{{ listItem.routerLink }}">
          <md-icon md-list-icon>{{listItem.icon}}</md-icon>
          <span md-line>{{listItem.name}}</span>
        </a>
      </md-nav-list>
    </div>
  </md-sidenav>
  <md-toolbar class="light-blue-bg-600 mat-elevation-z2">
    <div class="bs-user__page-title"></div>
  </md-toolbar>
  <div class="user-content blue-grey-bg-100">
    <div fxLayout="row" fxLayoutWrap="" fxLayoutAlign="center center">
      <div fxFlex="15%"></div>
      <div fxFlex="">
        <md-card>
          <md-card-content>
            <router-outlet></router-outlet>
          </md-card-content>
          <md-card-actions fxLayoutAlign="end end">
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
          </md-card-actions>
        </md-card>
      </div>
      <div fxFlex="15%"></div>
    </div>
  </div>

</md-sidenav-container>


