<div>
  <p>Contact</p>
  <div>
    <md-card>
      <md-card-content>
        <div fxLayout="row" fxLayoutGap="10px">
          <form fxFlex="49%">
            <md-input-container class="full-width">
              <input mdInput disabled placeholder="Seller's phone" value="+971501234567">
            </md-input-container>
            <md-input-container class="full-width">
              <input mdInput placeholder="Phone">
            </md-input-container>
            <p>
              <md-input-container class="full-width">
              <textarea mdInput placeholder="Message" rows="5">Hi,
I am interested in your item "TCL TV 55"" that I found on e-store. Let me know if it's still available and where we can meet.</textarea>
              </md-input-container>
            </p>
            <br/>
            <div fxLayoutAlign="end">
              <button class="light-blue-bg-600" md-raised-button>SEND</button>
            </div>
          </form>
          <div fxFlex="">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
