<h5>{{message}}</h5>
<div>
  <md-toolbar class="light-blue-bg-600">RESET PASSWORD</md-toolbar>
  <md-card>
    <md-card-content>
      <form action="#">
        <md-input-container class="full-width">
          <input mdInput placeholder="Email" type="email">
        </md-input-container>
        <br/>
        <p fxLayout="row" fxLayoutAlign="end center">
          <button (click)="resetPassword()" md-button class="light-blue-bg-600 mat-elevation-z1">
            RESET
          </button>
        </p>
      </form>
    </md-card-content>
  </md-card>
</div>

