@import '~@angular/material/_theming.scss';

// Define the theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-red, A200, A100, A400);
$grey:mat-palette($mat-grey);
$blue-grey:mat-palette($mat-blue-grey);
$light-blue:mat-palette($mat-light-blue);

.primary-light-bg {
  background-color: mat-color($primary, lighter);
}

.primary-dark-bg {
  background-color: mat-color($primary, darker);
}

.primary-bg-A200 {
  background-color: mat-color($primary, A200);
}

.primary-bg-A300 {
  background-color: mat-color($primary, A400);
}
.green-bg-600 {
  background: mat-color($mat-green, 600);
}

.grey-bg-50{
  background: mat-color($grey, 50);
}
.grey-light-bg{
  background: mat-color($grey, lighter);
}
.grey-dark-bg{
  background: mat-color($grey, darker);
}

.blue-grey-bg-100{
  background: mat-color($blue-grey, 100);
}

.light-blue-bg-700{
  background: mat-color($light-blue, 700);
  color:white;
}
.light-blue-bg-600{
  background: mat-color($light-blue, 600);
  color:white !important;
}
