<md-grid-list cols="3" rowHeight="200px" class="mat-elevation-z2">
  <md-grid-tile routerLink="{{category.name | lowercase}}" *ngFor="let category of categories" [style.background]="category.tileColor">
    <md-grid-tile-header>
      <md-icon md-grid-avatar></md-icon>
      {{category.name}}
    </md-grid-tile-header>
    <md-icon class="md-48">{{category.icon}}</md-icon>
  </md-grid-tile>
</md-grid-list>
<br>
