/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/shared/angular-material/material-colors";

html, body, app-root, md-sidenav-container {
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;
}
.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

* {
  font-family: Roboto, sans-serif;
}
.full-width {
  width: 100%;
}
