<footer class="grey-dark-bg">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="">
    <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center center">
      <md-list>
        <h3 md-subheader>Folders</h3>
        <md-list-item *ngFor="let folder of folders">
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
        </md-list-item>
      </md-list>
    </div>
    <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center center">
      <md-list>
        <h3 md-subheader>Photos</h3>
        <md-list-item *ngFor="let folder of folders">
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
        </md-list-item>
      </md-list>
    </div>
    <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center center">
      <md-list>
        <h3 md-subheader>Photos</h3>
        <md-list-item *ngFor="let folder of folders">
          <md-icon md-list-icon>folder</md-icon>
          <h4 md-line>{{folder.name}}</h4>
        </md-list-item>
      </md-list>
    </div>
  </div>
</footer>

<!--<nav md-bottom-nav>-->
<!--<a md-bottom-nav-item routerLink="troubleshoot"> ... </a>-->
<!--<a md-bottom-nav-item routerLink="status"> ... </a>-->
<!--<a md-bottom-nav-item routerLink="faq"> ... </a>-->
<!--</nav>-->


<!--<footer class="mdl-mega-footer page-row">-->
<!--<div class="mdl-mega-footer__middle-section">-->

<!--<div class="mdl-mega-footer__drop-down-section">-->
<!--<input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>-->
<!--<h1 class="mdl-mega-footer__heading">Features</h1>-->
<!--<ul class="mdl-mega-footer__link-list">-->
<!--<li><a href="#">About</a></li>-->
<!--<li><a href="#">Terms</a></li>-->
<!--<li><a href="#">Partners</a></li>-->
<!--<li><a href="#">Updates</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="mdl-mega-footer__drop-down-section">-->
<!--<input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>-->
<!--<h1 class="mdl-mega-footer__heading">Details</h1>-->
<!--<ul class="mdl-mega-footer__link-list">-->
<!--<li><a href="#">Specs</a></li>-->
<!--<li><a href="#">Tools</a></li>-->
<!--<li><a href="#">Resources</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="mdl-mega-footer__drop-down-section">-->
<!--<input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>-->
<!--<h1 class="mdl-mega-footer__heading">Technology</h1>-->
<!--<ul class="mdl-mega-footer__link-list">-->
<!--<li><a href="#">How it works</a></li>-->
<!--<li><a href="#">Patterns</a></li>-->
<!--<li><a href="#">Usage</a></li>-->
<!--<li><a href="#">Products</a></li>-->
<!--<li><a href="#">Contracts</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="mdl-mega-footer__drop-down-section">-->
<!--<input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>-->
<!--<h1 class="mdl-mega-footer__heading">FAQ</h1>-->
<!--<ul class="mdl-mega-footer__link-list">-->
<!--<li><a href="#">Questions</a></li>-->
<!--<li><a href="#">Answers</a></li>-->
<!--<li><a href="#">Contact us</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->

<!--<div class="mdl-mega-footer__bottom-section">-->
<!--<div class="mdl-logo">Title</div>-->
<!--<ul class="mdl-mega-footer__link-list">-->
<!--<li><a href="#">Help</a></li>-->
<!--<li><a href="#">Privacy & Terms</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--</footer>-->

