<div>
  <md-card>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Description">
          <br>
          <article style="text-align: justify">
            IPHONE 8 A BEAUTIFUL MIND.
            iPhone 8 introduces an all‑new glass design. The world's most popular camera, now even better. The smartest, most powerful chip ever in a smartphone. Wireless charging that’s truly effortless. And augmented reality experiences never before possible. iPhone 8. A new generation of iPhone.

            AN IPHONE FORMED FROM GLASS.
            ALL‑GLASS DESIGN
            THE MOST DURABLE GLASS EVER IN A SMARTPHONE, FRONT AND BACK. A COLOR‑MATCHED, AEROSPACE‑GRADE ALUMINUM BAND. NEW SPACE GRAY, SILVER, AND GOLD FINISHES.
            WATER AND DUST RESISTANT
            PRECISION‑ENGINEERED TO RESIST WATER AND DUST.
            WIRELESS CHARGING
            THE GLASS BACK ENABLES EASY WIRELESS CHARGING.
            RETINA HD DISPLAYRETINA HD.
            NOW WITH TRUE TONE.
            A RETINA HD DISPLAY THAT’S MORE BEAUTIFUL THAN EVER. WITH TRUE TONE, A WIDE COLOR GAMUT, AND 3D TOUCH.
          </article>
        </md-tab>
        <md-tab label="Review">
          <br>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
