<form>
  <md-input-container class="full-width">
    <input mdInput placeholder="Title">
  </md-input-container>
  <p>
    <md-input-container class="full-width">
      <span mdPrefix>{{currencyPrefix}} &nbsp;</span>
      <input type="number" mdInput placeholder="Price">
    </md-input-container>
  </p>
  <p>
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Description">I'm selling new macbook</textarea>
    </md-input-container>
  </p>

  <br/>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-select class="full-width" placeholder="Age" [(ngModel)]="selectedValue" name="age">
          <md-option *ngFor="let age of conditions" [value]="age.value">
            {{age.value}}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-select class="full-width" placeholder="Condition" [(ngModel)]="selectedValue" name="condition">
          <md-option *ngFor="let condition of conditions" [value]="condition.value">
            {{condition.value}}
          </md-option>
        </md-select>
      </td>
    </tr>
  </table>
  <br/>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <md-select class="full-width" placeholder="Usage" [(ngModel)]="usageValue" name="usage">
          <md-option *ngFor="let usage of conditions" [value]="usage.value">
            {{usage.value}}
          </md-option>
        </md-select>
      </td>
    </tr>
  </table>
  <br/>
  <p fxLayoutAlign="end">
    <md-checkbox ngDefaultControl>Has warranty</md-checkbox>
  </p>
  <div fxLayoutAlign="end">
    <button class="full-width" color="warn" md-raised-button>PHOTOS</button>
  </div>
  <br/>
  <div fxLayoutAlign="end">
    <button color="primary" md-raised-button>SUBMIT</button>
  </div>
</form>
